<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>JejakSaid</title>
</head>

<body>
    <div class="grid-container">
        <header>
            <div>
                <a href="index.html">JejakSaid</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In </a>
            </div>
        </header>
        <main>
            <ul>Product 1</ul>
            <ul>Product 2</ul>
            <ul>Product 3</ul>
            <ul>Product 4</ul>
        </main>
        <footer>All right reserverd</footer>
    </div>
</body>

</html>