<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>JejakSaid</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">JejakSaid</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In </a>
                </div>
            </header>
            <main>
                
            </main>
            <footer class="row center">All right reserverd</footer>
        </div>
    </body>

</html>